<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="author" content="dwook">
    <title></title>
    <script>
        var User = function(){
            this.username = "";
            this.userid = "";
            this.userage = "";
            this.userpwd = "";
            this.useraddress ="";
            this.validation = function(){
                for(var key in this){
                    var useridObj = document.getElementById(key);
                    if(useridObj.getAttribute("data-val")) {
                        var len = useridObj.getAttribute("data-val").split(",")[0];
                        var msg = useridObj.getAttribute("data-val").split(",")[1];
                        if(this[key].length<len){
                            alert(msg);
                            useridObj.value="";
                            useridObj.focus();
                            return;
                        }
                    }
                }
            }
        }
        function login(){
            var user = new User();
           
            for (var key in user) {
                if(document.getElementById(key)){
                    user[key] = document.getElementById(key).value.trim();
                }
                
            }
            user.validation();            
        }
    </script>

</head>

<body>
    <table border="1">
        <tr>
            <th>이름</th>
            <td><input type="text" name="username" id="username" data-val="2, 2글자 이상입니다."></td>
        </tr>
        <tr>
            <th>나이</th>
            <td><input type="text" name="userage" id="userage"></td>
        </tr>
        <tr>
            <th>아이디</th>
            <td><input type="text" name="userid" id="userid" data-val="3, 3글자 이상입니다."></td>
        </tr>
        <tr>
            <th>패스워드</th>
            <td><input type="password" name="userpwd" id="userpwd"></td>
        </tr>
        <tr>
            <th>주소</th>
            <td><input type="text" name="useraddress" id="useraddress"></td>
        </tr>
        <tr>
            <td colspan="2" align="center"><input type="button" value="회원가입" onclick="login()"></td>
        </tr>
    </table>

</body>

</html>